@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.button {
  cursor: pointer;
  background: var(--color-3);
  color: var(--color-1);
  padding: .75rem 3.5rem;
  font-weight: $font-weight-bold;
  font-family: $font-1;
  border-radius: .35rem;
  border: none;
  display: inline-flex;
  align-items: center;
  transition: all .5s ease;
  text-decoration: none;
  font-size: .8rem;
  line-height: 1.2;
  white-space: nowrap;
  box-sizing: border-box;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover {
    background: $color-5;
  }

  &:active {
    transition: all .1s ease;
    box-shadow: inset 0 0 1rem var(--color-3);
  }

  &--action {
    padding: .75rem 2.5rem;
    letter-spacing: 0;
    font-size: 1.25rem;
    font-family: $font-2;
    font-weight: $font-weight-default;
  }

  &--outlined {
    background: transparent;
    border: 1px solid var(--color-3);
    color: var(--color-3);
  }

  &--outlined:hover {
    background: rgba(var(--color-3), 0.1);
  }

  &--outlined:active {
    box-shadow: none;
  }

  &--link {
    background: transparent;
    color: var(--color-3);
    text-decoration: underline;
    padding-left: 0;
    padding-right: 0;
  }
}

.button-group {
  display: flex;
  align-items: center;
  @include spacing;

  & > .button:not(:last-child) {
    margin-right: 1.5rem;
  }

  &--dense > .button:not(:last-child) {
    margin-right: initial;
  }

  &--collapsed > .button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--collapsed > .button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &--expandedButtons > .button {
    width: 100%;
  }

  @include responsive($bp-sm) {

    &--expandedButtons {
      flex-direction: column;

      & > .button {
        box-sizing: border-box;
        width: 100%;
        margin: 0 !important;
        margin-bottom: .5rem!important;
      }
    }
  }
}
